body {
  /*background-image: url("../img/bumps.png");
  background-color: #000080;*/
  background-image: url("../img/bumps.png"), linear-gradient(#000080, #00ff00);
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 5px;
  color: #000080;
}

section {
	min-height: 250px;
}

div {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  min-height: 200px;
  vertical-align: top;
  border: #397f7f 1px dotted;
  margin: 2px;
  padding: 5px;
}

div div {
  width: 95%;
}

div.actu_image {
	max-width: 200px;
	width: 100%;
	max-height: 200px;
	width: 100%;
	background-image: url("../img/paysage-montagne-1.png");
}

div.actu_texte {
	max-width: 600px;
	width: 100%;
	max-height: 600px;
	width: 100%;
}

a:link {
    text-decoration: none;
    color: #00ff00;
}

a:visited {
    text-decoration: none;
    color: #000080;
}

a:hover {
    text-decoration: underline;
    color: #000080;
}

a:active {
    text-decoration: underline;
    color: #000080;
}

.centre {
  text-align: center;
}
/*
.telephone {
  background: url("../img/logo-telephone-rond.png") left no-repeat;
  background-size: 50px;
}
*/
/* == HEADER == */
header {
  max-width: 850px;
  width: 100%;
  border: red 1px dashed;
  margin: auto;
  padding: 5px;
  background-image: url("../img/bumps.png");
  background-color: #f5f5ff;
}
header h1 {
  text-align: center;

}

/* == SECTION == */
section {
  max-width: 850px;
  width: 100%;
  border: blue 1px dashed;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  background-image: url("../img/bumps.png");
  background-color: #f5f5ff;
}
section h1 {
  text-align: center;
}

/* == FOOTER == */
footer {
  max-width: 850px;
  width: 100%;
  border: violet 1px dashed;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  background-image: url("../img/bumps.png");
  background-color: #f5f5ff;
}
footer h2 {
  text-align: center;
}

footer ul {
  list-style: none;
  font-size: 0.8em;
}
footer ul li {
  display: inline-block;
  max-width: 180px;
  width: 100%;
}
